@import url('https://fonts.googleapis.com/css?family=Quicksand|Work+Sans:700');
body {
  background: #ecbeb4;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
